# Core Libraries
streamlit
folium
pandas
streamlit-folium
geopandas
shapely
plotly
openpyxl

# Standalone GUI Support
PyQt6
PyQt6-WebEngine

# Science Verification
wikipedia-api
requests
chardet
google-genai

# Cloud & AI Infrastructure
gspread
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
duckduckgo_search
ollama